<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE module SYSTEM "DragengineModule.dtd">
<module>
	<name>NullAudio</name>
	<description>Outputs no audio.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>1.0</version>
	<type>Audio</type>
	<fallback/>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>NullAudioCreateModule</entrypoint>
	</library>
</module>
