<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>WebP-3D</name>
	<description>Handles images saved in the WebP-3D format (lossless and lossy compression).
	WebP-3D files are actually a tarball with webp images one for each z coordinate in the 3D-image.
	Files inside the tarball are named zX.webp where X is the z coordinate without leading 0s.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Image</type>
	<pattern>.webp3d</pattern>
	<noCompress/>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>WEBP3DCreateModule</entrypoint>
	</library>
</module>
