<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>MacOSInput</name>
	<description>Processes input on MacOS Operating Systems.
		Supports Mouse and Keyboard for the time beeing.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Input</type>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>MacOSInpCreateModule</entrypoint>
	</library>
</module>
