<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>DESynthesizer</name>
	<description>Generate sound using synthesizers.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Synthesizer</type>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>DESynthesizerCreateModule</entrypoint>
	</library>
	<data>
		<directory>/</directory>
	</data>
</module>
