<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE module SYSTEM "DragengineModule.dtd">
<module>
	<name>BeOSInput</name>
	<description>Processes input on BeOS type operating systems.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>1.0</version>
	<type>Input</type>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>BeOSInpCreateModule</entrypoint>
	</library>
</module>
