<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>OpenAL</name>
	<description>Ouputs audio using the OpenAL library.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Audio</type>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>OpenALCreateModule</entrypoint>
	</library>
	<data>
		<directory>/</directory>
	</data>
</module>
