<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>BasicNetwork</name>
	<description>Basic network module</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Network</type>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>BasicNetworkCreateModule</entrypoint>
	</library>
	<data>
		<directory>/</directory>
	</data>
</module>
