<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>DEAnim</name>
	<description>Handles animations in the binary Drag[en]gine animation format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Animation</type>
	<pattern>.deanim</pattern>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>DEAnimCreateModule</entrypoint>
	</library>
</module>
