<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>DERig</name>
	<description>Handles rigs in the XML Drag[en]gine rig format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Rig</type>
	<pattern>.derig</pattern>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>DERigCreateModule</entrypoint>
	</library>
</module>
