<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>DELangPack</name>
	<description>Handles language packs in the XML Drag[en]gine language pack format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>LanguagePack</type>
	<pattern>.delangpack</pattern>
	<noCompress/>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>DELangPackCreateModule</entrypoint>
	</library>
</module>
