<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="32" />

    <uses-feature
        android:glEsVersion="0x00030002"
        android:required="true"
        />

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1" />

    <!--
    <uses-feature
        android:name="com.oculus.software.handtracking"
        android:required="false" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
    -->

    <!--
    enable support for:
    - XR_FB_face_tracking
    - XR_FB_face_tracking2
    -->
    <!--
    <uses-feature
        android:name="oculus.software.face_tracking"
        android:required="false" />
    -->

    <!--
    enable support for:
    - XR_EXT_eye_gaze_interaction
    - XR_FB_eye_tracking_social
    - XR_META_foveation_eye_tracked
    -->
    <!--
    <uses-feature
        android:name="oculus.software.eye_tracking"
        android:required="false" />
    <uses-permission android:name="horizonos.permission.EYE_TRACKING" />
    -->

    <!--
    enable support for:
    - XR_FB_body_tracking
    - XR_META_body_tracking_full_body
    - XR_META_body_tracking_fidelity
    - XR_META_body_tracking_calibration
    - XR_META_hand_tracking_wide_motion_mode
    -->
    <!--
    <uses-feature
        android:name="com.oculus.software.body_tracking"
        android:required="false" />
    -->

    <!--
    enable support for:
    - XR_FB_spatial_entity
    - XR_FB_spatial_entity_query
    - XR_FB_spatial_entity_storage
    - XR_FB_spatial_entity_storage_batch
    - XR_FB_spatial_entity_container
    - XR_FBX1_spatial_entity
    - XR_FBX1_spatial_entity_query
    - XR_FBX1_spatial_entity_storage
    - XR_FBX1_touch_controller_extras
    - XR_FBX1_composition_layer_settings
    - XR_FBX1_composition_layer_depth_test
    - XR_FBX2_spatial_entity
    - XR_FBX2_spatial_entity_query
    - XR_FBX2_spatial_entity_storage
    - XR_META_spatial_entity_persistence
    - XR_META_spatial_entity_discovery
    - XR_FB_scene
    -->
    <!--
    <uses-permission android:name="horizonos.permission.USE_ANCHOR_API" />
    -->

    <!--
    enable support for:
    - XR_FB_spatial_entity_sharing
    - XR_META_spatial_entity_sharing
    - XR_META_spatial_entity_group_sharing
    -->
    <!--
    <uses-permission android:name="horizonos.permission.IMPORT_EXPORT_IOT_MAP_DATA" />
    -->

    <!--
    enable support for:
    - XR_META_colocation_discovery
    -->
    <!--
    <uses-permission android:name="com.oculus.permission.USE_COLOCATION_DISCOVERY_API" />
    -->

    <!--
    enable support for:
    - XR_META_spatial_entity_mesh
    - XR_META_environment_depth
    - XR_META_dynamic_object_tracker
    - XR_META_dynamic_object_keyboard
    -->
    <!--
    <uses-permission android:name="horizonos.permission.USE_SCENE" />
    -->

    <!--
    enable support for:
    - XR_FB_render_model
    -->
    <!--
    <uses-feature
        android:name="com.oculus.feature.RENDER_MODEL"
        android:required="false" />
    -->

    <!--
    enable support for:
    - XR_META_boundary_visibility
    -->
    <!--
    <uses-permission android:name="com.oculus.permission.BOUNDARY_VISIBILITY" />
    -->

    <!--
    enable support for:
    - XR_FB_passthrough
    - XR_META_passthrough_color_lut
    - XR_META_passthrough_layer_resumed_event
    - XR_META_passthrough_preferences
    -->
    <!--
    <uses-feature
        android:name="com.oculus.feature.PASSTHROUGH"
        android:required="false" />
    -->

    <!--
    missing and unknown what uses-feature/uses-permission they belong to:
    - XR_METAX1_performance_metrics
    - XR_METAX1_virtual_keyboard
    - XR_METAX2_virtual_keyboard
    - XR_EXTX1_event_channel
    - XR_METAX1_environment_depth
    - XR_METAX2_environment_depth
    - XR_EXT_palm_pose
    - XR_METAX1_dynamic_object_tracker
    -->

    <application
        android:theme="@style/Theme.DELauncher.NoActionBar"
        tools:replace="android:theme">

        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest2|questpro|quest3|quest3s"/>

        <activity
            android:name=".RemoteLauncherActivity"
            android:screenOrientation="landscape"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode"
            android:theme="@style/Theme.DELauncher.NoActionBar"
            tools:replace="android:theme, android:configChanges"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:excludeFromRecents="true" >
            <intent-filter>
                <category android:name="com.oculus.intent.category.2D" />
                <category android:name="com.oculus.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode"
            android:theme="@style/Theme.DELauncher.NoActionBar"
            tools:replace="android:theme, android:configChanges"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
                <category android:name="com.oculus.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RunDelgaActivity"
            android:screenOrientation="landscape"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode"
            android:theme="@style/Theme.DELauncher.NoActionBar"
            tools:replace="android:theme, android:configChanges"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:excludeFromRecents="true" >

            <!-- Intent filters modified from main/AndroidManifest.xml -->
            <intent-filter>
                <action android:name="ch.dragondreams.delauncher.LAUNCH_DELGA" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
                -->

                <data android:mimeType="application/dragengine-delga" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern="/.*\\.delga" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
                -->

                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern="/.*\\.delga" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
                -->

                <data android:mimeType="*/*" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern="/.*\\.delga" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
                -->

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern="/.*\\.delga" />
            </intent-filter>
        </activity>
    </application>

</manifest>