<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>FBXSkin</name>
	<description>Handles skins in the binary FBX format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Skin</type>
	<pattern>.fbx</pattern>
	<noSaving/>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>FBXSkinCreateModule</entrypoint>
	</library>
</module>
