<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>FBXAnim</name>
	<description>Handles animations in the binary FBX model format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Animation</type>
	<pattern>.fbx</pattern>
	<noSaving/>
	<noCompress/>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>FBXAnimCreateModule</entrypoint>
	</library>
</module>
