<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>DEOcclusionMesh</name>
	<description>Handles occlusion meshes in the Drag[en]gine occlusion mesh format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>OcclusionMesh</type>
	<pattern>.deoccmesh</pattern>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>DEOccMeshCreateModule</entrypoint>
	</library>
</module>
