#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Game;
Version=1.0
Type=Application
Name=Drag[en]gine GUI Launcher
GenericName=Drag[en]gine GUI Launcher
Comment=Run Drag[en]gine based games
Exec=delauncher-gui %f
TryExec=delauncher-gui
MimeType=application/dragengine-gamedefinition;application/dragengine-delga;
Icon=ch.dragondreams.dragengine
NoDisplay=false
StartupNotify=false
Terminal=false
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
