<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>ConsoleInput</name>
	<description>Processes input from a console. Supports only
		keyboard input.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Input</type>
	<fallback/>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>ConsoleInputCreateModule</entrypoint>
	</library>
</module>
