.debhelper
*.substvars
dragengine
libdragengine1
libdragengine-dev
delauncher-console
delauncher-gui
libdeigdeshared1
libdeigdeshared-dev
deigde
deigde-data
*.log
debhelper-build-stamp
files
libdelauncher-dev
libdelauncher1
source/include-binaries
