Source: dragengine
Section: games
Priority: optional
Maintainer: Roland Plüss <roland@rptd.ch>
Build-Depends: debhelper-compat (= 12), scons, cmake, autoconf, libtool, nasm, libx11-dev, libxrandr-dev, libgl-dev, libxi-dev, libpulse-dev, libasound2-dev, portaudio19-dev, libxft-dev, libjpeg-dev, libopenal-dev, libogg-dev, libvorbis-dev, libtheora-dev, libhidapi-dev, libopenhmd-dev, patchelf, libevdev-dev
Standards-Version: 4.1.3
Homepage: https://dragondreams.ch
Rules-Requires-Root: yes

Package: dragengine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drag[en]gine Game Engine
 Required to play games (*.delga) or developing games.
 Run delauncher-gui or delauncher-console.

Package: dragengine-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drag[en]gine Game Engine Development
 Required to create Drag[en]gine Modules. Not required to create games.

Package: deigde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drag[en]gine Game Development Environment
 Required to developing games using the Drag[en]gine Game Engine. Run deigde.

Package: deigde-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drag[en]gine IGDE Development
 Required to create Drag[en]gine IGDE Editors. Not required to create games.
