#!/usr/bin/make -f

# NOTE debian expects to install things into a specific directory. the scons build
#      system expects though to install into the directory set by custom.py which
#      is the same path hard-coded into the library. to fix this problem the archive
#      build is used. this creates the correct directory structure as if the build
#      is installed into a live system. then in an additional step the archive is
#      unpacked into the desired location. this is the safe way to do it

%:
	dh $@
override_dh_auto_clean:
	rm -rf .scon*
	find -type d -name "build" | xargs -- rm -rf
	find -type d -name "__pycache__" | xargs -- rm -rf
	find -type f -name "*.pyc" | xargs -- rm -rf
	rm -f build.log config.log

override_dh_auto_configure:
	
override_dh_auto_build:
	scons -j 8 archive

override_dh_auto_test:
	
override_dh_auto_install:
	mkdir -p debian/dragengine
	tar -xvjf archive/build/dragengine-linux.tar.bz2 -C debian/dragengine
	mkdir -p debian/dragengine-dev
	tar -xvjf archive/build/dragengine-dev-linux.tar.bz2 -C debian/dragengine-dev
	mkdir -p debian/deigde
	tar -xvjf archive/build/deigde-linux.tar.bz2 -C debian/deigde
	mkdir -p debian/deigde-dev
	tar -xvjf archive/build/deigde-dev-linux.tar.bz2 -C debian/deigde-dev
	
	# 'non-dev-pkg-with-shlib-symlink' expects library links in the "-dev" package
	mkdir -p debian/dragengine-dev/usr/lib
	mv debian/dragengine/usr/lib/libdragengine.so debian/dragengine-dev/usr/lib/libdragengine.so
	mkdir -p debian/deigde-dev/usr/lib
	mv debian/deigde/usr/lib/libdeigdeshared.so debian/deigde-dev/usr/lib/libdeigdeshared.so
	
	# 'arch-dependent-file-in-usr-share' does not like how DragonScript stores
	# loadable packages. we can solve this on debian only using a bit of
	# symlink magic
	cd debian/dragengine ; \
	for f in `find usr/share/dragengine/modules/scripting/dragonscript/*/dsinstall -name "*.so"`; do \
		f2=`echo $$f | sed -e "s@usr/share@usr/lib@"`; \
		mkdir -p `dirname $$f2`; \
		mv $$f $$f2; \
		ln -sf "/$$f2" $$f; \
	done

override_dh_shlibdeps:
	dh_shlibdeps -Xlibscrdscript -Xdsinstall
	#dh_shlibdeps -Xlibscrdscript -Xdsinstall \
	#  -l`find debian/dragengine/usr/lib/dragengine/modules -name "*.so" -printf "%h:"`\
	#    `find debian/deigde/usr/lib/deigde/modules -name "*.so" -printf "%h:"`
