#!/usr/bin/make -f

DESTDIR_ENGINE := $(shell realpath debian/dragengine)
DESTDIR_ENGINE_DEV := $(shell realpath debian/dragengine-dev)
DESTDIR_IGDE := $(shell realpath debian/deigde)
DESTDIR_IGDE_DEV := $(shell realpath debian/deigde-dev)

SANDBOX_ENGINE := --install-sandbox="$(DESTDIR_ENGINE)"
SANDBOX_ENGINE_DEV := --install-sandbox="$(DESTDIR_ENGINE_DEV)"
SANDBOX_IGDE := --install-sandbox="$(DESTDIR_IGDE)"
SANDBOX_IGDE_DEV := --install-sandbox="$(DESTDIR_IGDE_DEV)"

SCONS_OPTIONS := --logstdout=off

%:
	dh $@

override_dh_auto_clean:
	scons $(SCONS_OPTIONS) --config=force build -c
	find -type d -name "__pycache__" | xargs -- rm -rf
	rm -f config.log

override_dh_auto_configure:
	
override_dh_auto_build:
	scons $(SCONS_OPTIONS) --config=force build

override_dh_auto_test:
	
override_dh_auto_install:
	scons $(SCONS_OPTIONS) --config=cache $(SANDBOX_ENGINE) install_engine_runtime
	scons $(SCONS_OPTIONS) --config=cache $(SANDBOX_ENGINE_DEV) dragengine_develop
	scons $(SCONS_OPTIONS) --config=cache $(SANDBOX_IGDE) install_igde_runtime
	scons $(SCONS_OPTIONS) --config=cache $(SANDBOX_IGDE_DEV) deigde_shared_develop
	
	# under debian the games group is known at package build time. we can create
	# the required directories. this is not done in scons since the generic build
	# is made for systems where the games group potentially does not exist and
	# thus it is not possible to create this directory at package time.
	#
	# NOTE according to debian policy group writable should have permission 2775
	#mkdir "$(DESTDIR_ENGINE)"/usr/share/games/delauncher
	#chgrp games "$(DESTDIR_ENGINE)"/usr/share/games/delauncher
	#chmod 2775 "$(DESTDIR_ENGINE)"/usr/share/games/delauncher
	#
	#mkdir "$(DESTDIR_ENGINE)"/usr/share/games/delauncher/games
	#chgrp games "$(DESTDIR_ENGINE)"/usr/share/games/delauncher/games
	#chmod 2775 "$(DESTDIR_ENGINE)"/usr/share/games/delauncher/games
	
	# 'non-dev-pkg-with-shlib-symlink' expects library links in the "-dev" package
	#mkdir -p "$(DESTDIR_ENGINE_DEV)"/usr/lib
	#mv "$(DESTDIR_ENGINE)"/usr/lib/libdragengine.so "$(DESTDIR_ENGINE_DEV)"/usr/lib/libdragengine.so
	#mkdir -p "$(DESTDIR_ENGINE_IGDE)"/usr/lib
	#mv "$(DESTDIR_IGDE)"/usr/lib/libdeigdeshared.so "$(DESTDIR_IGDE_DEV)"/usr/lib/libdeigdeshared.so
	
	# 'arch-dependent-file-in-usr-share' does not like how DragonScript stores
	# loadable packages. we can solve this on debian only using a bit of
	# symlink magic
	cd debian/dragengine ; \
	for f in `find "$(DESTDIR_ENGINE)"/usr/share/games/dragengine/modules/scripting/dragonscript/*/dsinstall -name "*.so"`; do \
		f2=`echo $$f | sed -e "s@usr/share@usr/lib@"`; \
		mkdir -p `dirname $$f2`; \
		mv $$f $$f2; \
		ln -sf "/$$f2" $$f; \
	done
	
	# ubuntu seems to dislike it if build files are still around after this point in time
	scons $(SCONS_OPTIONS) --config=cache build -c
	
	# source-contains-prebuilt-java-object
	rm -f src/launcher/android/DELauncher/gradle/wrapper/gradle-wrapper.jar

override_dh_shlibdeps:
	# debian seems to modify *.so files after being installed override_dh_auto_install.
	# this is very bad since during building and installing module file manifests are
	# updated with modification detection values. due to the modifications of debian
	# the game engine rejects all modules as non-genuine. to solve this we have to
	# fix all module manifests. since it is unknown what step causes these problems
	# the fix is placed here until better knowing
	for f in `find "$(DESTDIR_ENGINE)"/usr/lib/games/dragengine/modules -type f -name "module.xml"`; do \
		/usr/bin/python3 debianFixManifests.py "$$f"; \
	done
	
	# debian build package has a problem with the DragonScript packages
	dh_shlibdeps -Xlibscrdscript -Xdsinstall -Xlibdscript
	# -XlibDEFOX
	#dh_shlibdeps -Xlibscrdscript -Xdsinstall \
	#  -l`find debian/dragengine/usr/lib/dragengine/modules -name "*.so" -printf "%h:"`\
	#    `find debian/deigde/usr/lib/deigde/modules -name "*.so" -printf "%h:"`

#override_dh_fixperms:
#	# avoid fix perms messing with our special permissions
#	dh_fixperms --exclude "$(DESTDIR_ENGINE)"/usr/share/games/delauncher*
#	
#	# fix permissions from above
#	chgrp games "$(DESTDIR_ENGINE)"/usr/share/games/delauncher
#	chmod 2775 "$(DESTDIR_ENGINE)"/usr/share/games/delauncher
#	
#	chgrp games "$(DESTDIR_ENGINE)"/usr/share/games/delauncher/games
#	chmod 2775 "$(DESTDIR_ENGINE)"/usr/share/games/delauncher/games
