<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>Smalltalk</name>
	<description>Provides access to the Drag[en]gine using the Smalltalk programming language.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Script</type>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>STCreateModule</entrypoint>
	</library>
</module>
