<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>PNG</name>
	<description>Handles images saved in the PNG format (lossless compression).</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Image</type>
	<pattern>.png</pattern>
	<noCompress/>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>PNGCreateModule</entrypoint>
	</library>
</module>
