<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>XSystemInput</name>
	<description>Processes input using the X-Server of linux Operating systems.
		Supports Mouse and Keyboard for the time beeing.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Input</type>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>XSysInpCreateModule</entrypoint>
	</library>
</module>
