<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>Modio</name>
	<description>
		Provides access to services provided by Mod.io.
	</description>
	<author>DragonDreams GmbH (info@dragondreams.ch)</author>
	<version>VERSION</version>
	<type>Service</type>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>ModioCreateModule</entrypoint>
	</library>
</module>
