<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>DEModel</name>
	<description>Handles models in the binary Drag[en]gine model format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Model</type>
	<pattern>.demodel</pattern>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>DEModelCreateModule</entrypoint>
	</library>
</module>
