<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE module SYSTEM "DragengineModule.dtd">
<module>
	<name>OggVorbis</name>
	<description>Handles sounds in ogg vorbis format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>1.0</version>
	<type>Sound</type>
	<pattern>.ogg</pattern>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>OGGCreateModule</entrypoint>
	</library>
</module>
