<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>SimplyQuit</name>
	<description>Simply quits the engine gracefully on system failures.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>CrashRecovery</type>
	<fallback/>
	<priority>0</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>SQCreateModule</entrypoint>
	</library>
</module>
