#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development;
Version=1.0
Type=Application
Name=Drag[en]gine IGDE
GenericName=Drag[en]gine IGDE
Comment=Work on Drag[en]gine base game projects
Exec=deigde %f
TryExec=deigde
MimeType=application/deigde-gameproject;
Icon=ch.dragondreams.deigde
NoDisplay=false
StartupNotify=false
Terminal=false
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true
