<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE module SYSTEM "DragengineModule.dtd">
<module>
	<name>OpenGL</name>
	<description>Renders game screen using OpenGL.
		Required is a Pixel-Shader 1.3 aware graphic card.
		Runs only on Linux operating systems.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>1.0</version>
	<type>Graphic</type>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>OpenGLCreateModule</entrypoint>
	</library>
	<data>
		<directory>/</directory>
	</data>
</module>
