<manifest xmlns:android='http://schemas.android.com/apk/res/android'
	xmlns:tools="http://schemas.android.com/tools"
	package='ch.dragondreams.delauncher'>
	
	<!-- Permissions -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	
	<!-- Minimal OpenGL ES requirement. -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>
	
	<!-- This .apk has no Java code itself, so set hasCode to false. -->
	<application android:label='@string/app_name'
		android:hasCode='false'
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		tools:ignore="GoogleAppIndexingWarning">
		
		<!-- Our activity is the built-in NativeActivity framework class. This will take care of integrating with our NDK code. -->
		<activity android:name='android.app.NativeActivity'
			android:label='@string/app_name'
			android:configChanges='keyboardHidden|keyboard|orientation|screenSize'
			android:theme="@style/AppTheme">
			
			<!-- Tell NativeActivity the name of our .so -->
			<meta-data android:name='android.app.lib_name' android:value='delauncher' />
			
			
			
			<!--
			Run application intent. Provides basic engine management.
			
			TODO Move this later on into a java activity to give a better UI
			-->
			<intent-filter>
				<action android:name='android.intent.action.MAIN' />
				<category android:name='android.intent.category.LAUNCHER' />
			</intent-filter>
			
			
			
			<!--
			Note about intent filtering. According to android documentation an
			intent filter matches if there is at least one tag of action, category
			and data matching. Especially for data this means all elements of a
			single tag have to match for the tag itself to be a match ending the
			search. These limitations are noted for the data tag:
			
			- scheme absent => host ignored
			- host absent => port ignored
			- scheme and host absent => path is ignored
			
			More matching logic (scheme + path = URI format):
			- scheme present, rest absent => all URI with scheme match no matter what path
			- scheme and path present => URI match only if scheme and path matches
			
			Special matching logic:
			- Intent has URI but no mimeType => matches only if matching URI format
			  and NO mimeType is specified
			- Intent has mimeType but no URI => matches only if matching mimeType
			  but NO URI format stuff is specified
			- component is presumed to support content: and file: data if its filter
			  lists only a MIME type
			-->
			
			
			
			<!--
			Launch archive using direct intent. Allowed only from other apps.
			This is the way for applications containing DELGAs to run themselves.
			The Drag[en]gine distribution contains a ready made JAR that applications
			can drop into their project and just build using their DELGA.
			-->
			<intent-filter>
				<action android:name="ch.dragondreams.intent.action.LaunchDelga"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.OPENABLE"/>
				<data android:scheme="content"/>
				<data android:mimeType="dragengine/delga"/>
			</intent-filter>

			<!--
			TODO

			Add intents to query informations
			-->
			
			
			<!--
			Launch archive using other means. In contrary to what the android
			documentation claims multiple data tags with different configurations
			do NOT correctly match. It is required to have one intent filter for
			each possible combination. Fail-design...
			-->
			
			<!-- EMail attachments, File browsers and just about everything -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="content"
					android:mimeType="dragengine/delga"/>
			</intent-filter>
				
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="content"
					android:pathPattern=".*\\.delga"/>
			</intent-filter>
			
			<!-- Browser specific -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https"
					android:host="*"
					android:mimeType="dragengine/delga"/>
			</intent-filter>
				
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https"
					android:host="*"
					android:pathPattern=".*\\.delga"/>
			</intent-filter>
				
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https"
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.delga"/>
			</intent-filter>
				
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http"
					android:host="*"
					android:mimeType="dragengine/delga"/>
			</intent-filter>
				
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http"
					android:host="*"
					android:pathPattern=".*\\.delga"/>
			</intent-filter>
				
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http"
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.delga"/>
			</intent-filter>
				
			<!--
			In android 7.x upwards it is mandatory to use content scheme. File
			scheme is not allowed anymore. For compatibility reason file scheme
			is still included.
			-->
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="file"
					android:host="*"
					android:mimeType="dragengine/delga"/>
			</intent-filter>
				
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="file"
					android:host="*"
					android:pathPattern=".*\\.delga"/>
			</intent-filter>
				
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="file"
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.delga"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
