<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>Avif</name>
	<description>Handles images saved in the AVIF format.</description>
	<author>Plüss Roland (roland@drragondreams.ch)</author>
	<version>VERSION</version>
	<type>Image</type>
	<pattern>.avif</pattern>
	<noCompress/>
	<priority>1</priority>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>AvifCreateModule</entrypoint>
	</library>
</module>
