<?xml version='1.0' encoding='UTF-8'?>
<module>
	<name>Bullet</name>
	<description>Provides physical simulation using the free-software Bullet physics library.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>VERSION</version>
	<type>Physics</type>
	<homepage>http://www.continuousphysics.com/Bullet/</homepage>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>BulletCreateModule</entrypoint>
	</library>
</module>
