<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE module SYSTEM "DragengineModule.dtd">
<module>
	<name>DEFont</name>
	<description>Handles fonts in the XML Drag[en]gine font format.</description>
	<author>Plüss Roland (roland@rptd.ch)</author>
	<version>1.0</version>
	<type>Font</type>
	<pattern>.defont</pattern>
	<library>
		<file>FILENAME</file>
		<size>FILESIZE</size>
		<sha1>SHA1SUM</sha1>
		<entrypoint>DEFontCreateModule</entrypoint>
	</library>
</module>
